{:paths ["src" "resources"]
 :deps {hiccup/hiccup {:mvn/version "2.0.0-RC2"}
        metosin/reitit {:mvn/version "0.7.0-alpha7"}
        http-kit/http-kit {:mvn/version "2.8.0-SNAPSHOT"}
        org.babashka/cli {:mvn/version "0.7.53"}}
 :aliases
 {:dev {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.15.957"}}
        :extra-paths ["dev"]}
  :test {:extra-deps {}
         :extra-paths ["test"]}}}
